header {
    background-color: #000;
    color: #fde68a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
}

.contact {
    display: flex;
    gap: 5rem;
    font-weight: 500;

    p:hover {
        cursor: pointer;
        color: #f472b6;
    }

    span:hover {
        cursor: pointer;
        color: #f472b6;
    }
}

.logo {
    height: 6.5rem;
    padding: 10px;
}